:root{
    /*Primary color*/
    --color-light-red: hsl(0, 100%, 67%);
    --color-orange-yellow:hsl(39, 100%, 56%);
    --color-green-teal:hsl(166, 100%, 37%);
    --color-cobalt-blue:hsl(234, 85%, 45%);

    /*Gradients color*/
--color-light-slate-blue:hsl(252, 100%, 67%);
--color-light-royal-blue:hsl(241, 81%, 54%);
--color-violet-blue:hsla(256, 72%, 46%, 1);
--color-persian-blue:hsla(241, 72%, 46%, 0);

/*Neutral color*/
/*background*/
--color-white: hsl(0, 0%, 100%);
/*background*/
--color-pale-blue: hsl(221, 100%, 96%);
/*Circle*/
--color-light-lavender: hsl(241, 100%, 89%);
/*Circle*/
--color-dark-gray-blue: hsl(224, 30%, 27%);
}
         

body {
    
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
font-size: 13px;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
text-align: center;
background-color: var(--color-pale-blue);
}

main{
  
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;

}
.result{

    background: linear-gradient(var(--color-light-slate-blue),var(--color-violet-blue),var(--color-light-slate-blue));        
    border-radius: 15px;
    width: 12rem;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  text-align: center;
    padding: 2rem;
    color: var(--color-light-lavender);
    
}
.result_text{
    font-size: 18px;
}
.result_circle{
   margin-top: 0.5rem;
   border-radius: 50%;
   display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
  text-align: center;
  height: 8rem;
  width: 8rem;
  background: linear-gradient(var(--color-light-slate-blue),var(--color-violet-blue));  
 
    color: var(--color-light-lavender);
    
}
.result_number{
    padding-top: 1rem;
    font-size: 3rem;
    font-weight: 800;
    color: var(--color-white);
    border-radius: 50%;
}
.summary{
    z-index: -1;
    margin-left: -15px;
    background-color: var(--color-white);
    border-radius: 10px;

}
.summary h2{
    color: initial;
}
h2{
    color: var(--color-white);
    
}
p{
    margin-left: 1rem;
    display: flex;
    align-items: center;
}